---
import { Octokit } from "octokit"
const { SECRET_GITHUB_TOKEN } = import.meta.env
const octokit = new Octokit({
	auth: SECRET_GITHUB_TOKEN,
})

type Project = {
	name: string
	description: string
	url: string
	stars: number
	forks: number
	lang: string
	license: string
}

const [aiOhto, funResp, website, dbotsApi]: any = await Promise.all(
	["ai-ohto", "fun-responses", "auravoid.dev", "dbots-api"].map((repo) =>
		octokit
			.request("GET /repos/{owner}/{repo}", {
				owner: "auravoid",
				repo,
			})
			.then((response) => response.data)
	)
)

const projects: Project[] = [
	{
		name: aiOhto.name,
		description: aiOhto.description,
		url: aiOhto.html_url,
		stars: aiOhto.stargazers_count || 0,
		forks: aiOhto.forks_count || 0,
		lang: aiOhto.language,
		license: aiOhto.license?.spdx_id || "None",
	},
	{
		name: funResp.name,
		description: funResp.description,
		url: funResp.html_url,
		stars: funResp.stargazers_count || 0,
		forks: funResp.forks_count || 0,
		lang: funResp.language,
		license: funResp.license?.spdx_id || "None",
	},
	{
		name: website.name,
		description: website.description,
		url: website.html_url,
		stars: website.stargazers_count || 0,
		forks: website.forks_count || 0,
		lang: website.language,
		license: website.license?.spdx_id || "None",
	},
	{
		name: dbotsApi.name,
		description: dbotsApi.description,
		url: dbotsApi.html_url,
		stars: dbotsApi.stargazers_count || 0,
		forks: dbotsApi.forks_count || 0,
		lang: dbotsApi.language,
		license: dbotsApi.license?.spdx_id || "None",
	},
]
---

{
	projects.map((project) => (
		<div class="projects__content">
			<a href={project.url} class="projects__content__url">
				<h2 class="projects__content__title">{project.name}</h2>
			</a>
			<p class="projects__content__desc">{project.description}</p>
			<div class="projects__content__info">
				<p class="projects__content__item">Stars: {project.stars}</p>
				<p class="projects__content__item">Forks: {project.forks}</p>
				<p class="projects__content__item">Language: {project.lang}</p>
				<p class="projects__content__item">
					License: {project.license}
				</p>
			</div>
		</div>
	))
}
